.box{
    padding: 10px;
}
.item-title h3{
    border-top: 2px solid #bbbbbb;
}
.accord-btns{

}

section.sec_btns{
    height: 200px;
    margin-top: 50px;
}

.btn-del-tab{

    margin-top: 7px;
}
.btn-del-tab button{
    margin: 5px;
}

.accordion-item hr{
    width: 80%;
    height: 2px;
    margin: 5px auto;
    background: darkgray;
}

/*Home settings*/
.img-thumbnail-1{
    display: block;
    max-width: 150px;
    margin: 15px 0;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.img-wrap{
    height: 200px;
    margin-bottom: 15px;
}
.img-wrap img{
    max-width: 170px;
}
.btns-block{
    margin: 30px 0;
}

.min-height-200{
    min-height: 200px;
}
.min-height-100{
    min-height: 100px;
}
.mr-l-10{
    margin-left: 10px;
}

input.form-control{
    height: unset;
}