.box{
    padding: 10px;
}
.item-title h3{
    border-top: 2px solid #bbbbbb;
}
.accord-btns{

}

section.sec-btns{
    margin-bottom: 100px;
}

.btn-del-tab{

    margin-top: 7px;
}
.btn-del-tab button{
    margin: 5px;
}

.accordion-item hr{
    width: 80%;
    height: 2px;
    margin: 5px auto;
    background: darkgray;
}