@font-face{
    font-family: 'Exo2-Light';
    src: url('../static/font/Exo2/Exo2-Light.ttf');
}
@font-face{
    font-family: 'Exo2-Regular';
    src: url('../static/font/Exo2/Exo2-Regular.ttf');
}
@font-face{
    font-family: 'Exo2-Bold';
    src: url('../static/font/Exo2/Exo2-Bold.ttf');
}
@font-face{
    font-family: 'Proxima-Nova-Light';
    src: url('../static/font/Proxima-Nova/ProximaNova-Light.woff');
}
@font-face{
    font-family: 'Proxima-Nova-Regular';
    src: url('../static/font/Proxima-Nova/ProximaNova-Reg.otf');
}
@font-face{
    font-family: 'Proxima-Nova-Bold';
    src: url('../static/font/Proxima-Nova/ProximaNova-Bold.woff');
}